.Perfi-contenedor{
   border: 2px solid black;
   border-radius: 10px;
}
.imagen-perfil{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
p{
    padding-left: 10px;
}
ul li{
    font-size: x-large;
    color: blue;
} 